:root {
  --focus: #181b27;
  --main-text: #dfddda;
  --second-text: #1b1818;
  --third-text: #b8bdb4;
  --fourth-text: #7d7c7c;
  --danger: #ba1c15;
  --success: #2c512f;
  --header: #36393e;
  --component-one: #1d1f21;
  --component-two: rgb(76, 77, 79);
  --component-three: rgb(41, 41, 41);
  --component-four: rgb(49 51 52);
  --button-one: rgb(76, 73, 73);
  --button-two: rgb(49, 49, 49);
  --add-button-one: #767474;
  --add-button-two: #585555;
  --item-button: #383838;
  --item-button-active: #414040;
  --button-active-one: #525151;
  --button-active-two: #3a3939;
  --add-button-active-one: #959292;
  --add-button-active-two: #6e6c6c;
  --button-close-one: #e7170d;
  --button-close-two: #ee4343;
  --button-close-hover-one: #db3830;
  --button-close-hover-two: #c51b13;
  --component-gradient: linear-gradient(0deg, var(--component-three) 0%, var(--component-four) 100%);
  --button-gradient: linear-gradient(to bottom, var(--button-one) 0%, var(--button-two) 100%);
  --add-button-gradient: linear-gradient(to bottom, var(--add-button-one) 0%, var(--add-button-two) 100%);
  --button-gradient-active: linear-gradient(to bottom, var(--button-active-one) 0%, var(--button-active-two) 100%);
  --add-button-gradient-active: linear-gradient(to bottom, var(--add-button-active-one) 0%, var(--add-button-active-two) 100%);
  --button-close-gradient: linear-gradient(to bottom, var(--button-close-one) 0%, var(--button-close-two) 100%);

  --button-close-gradient-active: linear-gradient(to bottom, var(--button-close-hover-one) 0%, var(--button-close-hover-two) 100%);

  --box-shadow: rgb(16 16 16 / 10%) 0px 4px 5px;

  --spacing-extra-extra-small: 0.3rem;
  --spacing-extra-small: 0.5rem;
  --spacing-small: 0.8rem;
  --spacing-medium-small: 1rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 3rem;

  --font-size-small: 0.85rem;
  --font-size-extra-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.20rem;
  --font-size-extra-large: 2rem;

  --gap-extra-small: 0.25rem;
  --gap-small: 0.3rem;
  --gap-medium: 0.6rem;
  --gap-large: 1.2rem;
}

* {
  color: var(--main-text);
  padding: 0;
  margin: 0;
  font-size: var(--font-size-medium);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.2px;
  line-height: 1.4;
  box-sizing: border-box;
}

button:focus {
  outline-color: var(--focus);
}

body {
  background-color: var(--component-one);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

h1 {
  font-size: var(--font-size-extra-large);
  margin: 0 0 var(--spacing-medium-small) 0;
}

h3 {
  white-space: pre-wrap;
}

b {
  font-weight: 500;
}

p {
  margin: 0 0 var(--spacing-extra-small) 0;

}

li {
  margin: 0 0 1.2rem 0;
}

header {
  background: var(--header);
  padding: var(--spacing-medium-small) var(--spacing-medium);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

main {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #b6b3b3;

}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #6a6a6d;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(87, 86, 86);
}

.error-container {
  background-color: var(--danger);
}

.error-container p {
  color: var(--main-text);
}

.feedback-container {
  position: fixed;
  bottom: 2rem;
  border: none;
  width: 70%;
  max-width: 500px;
  border-radius: 5px;
  padding: var(--spacing-small) var(--spacing-medium);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.feedback-container p {
  margin: 0;
}

.success-container {
  color: var(--second-text);
  background-color: var(--success);
}

.hideFeedback {
  opacity: 0;
  transition: opacity 0s linear;
  left: -300px;
}

.showFeedback {
  opacity: 0.95;
  transition: opacity 0.5s linear;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999999999;
}

.svg-add-button,
.svg-item-button,
.svg-close-button {
  color: var(--second-text);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: var(--gap-small);
}

#post-form-button svg {
  width: 18px;
  height: auto;
}

#post-form-button small {
  font-size: 1rem;
  font-weight: 400;
}


#close-form-button,
#close-item-button {
  position: fixed;
  right: 2rem;
  top: 2rem;
  padding: 0.2rem;
  background: var(--button-close-gradient);
  fill: var(--second-text);
}

#close-form-button:hover,
#close-item-button:hover {
  transform: scale(1.1);
  /* background: var(--button-close-gradient-hover); */
}

#close-form-button:active,
#close-item-button:active {
  /* background: var(--button-close-gradient); */
  background: var(--button-close-gradient-active);
}

#delete-item-button small,
#delete-item-button svg {
  color: var(--button-close-two);
  fill: var(--button-close-two);
}

#edit-item-button small,
#edit-item-button svg,
#post-form-button,
button {
  fill: var(--main-text);
  color: var(--main-text);
}

#post-form-button {
  font-weight: 400;
  /* background: none; */
  box-shadow: none;
  z-index: 99999999;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  /* width: 90px; */
  padding: var(--spacing-extra-extra-small) var(--spacing-small);
  background: var(--add-button-gradient);
}

#post-form-button:hover {
  transform: scale(1.08);
}

#post-form-button:active {
  transform: scale(1.08);
  background: var(--add-button-gradient-active);
}

#edit-item-button:hover,
#delete-item-button:hover {
  transform: scale(1.12);
}

button {
  cursor: pointer;
  background: var(--button-gradient);
  color: var(--main-text);
  border: 0;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 1.3;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  font-weight: 400;
}


button:hover {
  transform: scale(1.04);
}

button:active {
  background: var(--button-gradient-active);
}

small {
  font-size: var(--font-size-extra-small);
  display: inline-block;
}

.text-warning {
  color: var(--danger);
  font-size: var(--font-size-medium);
}

.svg-close-button svg {
  width: 15px;
  height: 15px;
}

.svg-item-button svg {
  width: 11px;
  height: auto;
}

.svg-item-button small {
  font-size: var(--font-size-small);
  display: inline-block;
  font-weight: 400;
}

.reset-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-title {
  font-weight: 500;
  font-size: var(--font-size-large);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0;
}

.item-button-container {
  top: 0;
  right: 0;
  gap: var(--gap-medium);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  margin-top: var(--spacing-medium);
}

.item-button-container button {
  background: var(--item-button);
  padding: 0.2rem 0.6rem;
}

.item-button-container button:active {
  background: var(--item-button-active);
}

summary {
  cursor: pointer;
}

#list-data-container {
  display: grid;
  gap: var(--gap-large);
  grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
}


#dialog-list-title {
  font-weight: 700;
  font-size: var(--font-size-large);
  word-wrap: break-word;
  margin: 0 0 1.2rem 0;
}

.list-data-item p {
  color: var(--third-text);
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.list-data-item summary {
  color: var(--third-text);
}

.list-inner-wrapper {
  transition: 0.6s;
  height: 70px;
}

.list-inner-wrapper {
  display: flex;
  overflow: hidden;
  background: var(--component-gradient);
  border-radius: 6px;
  width: 100%;
  padding: var(--spacing-medium-small) var(--spacing-medium);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
}

.dialog-list-inner-wrapper {
  overflow: hidden;
  background: var(--component-gradient);
  border-radius: 6px;
  width: 100%;
  /* padding: var(--spacing-medium-small) var(--spacing-medium); */
  padding: var(--spacing-medium) var(--spacing-large);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.template-list-component {
  position: relative;
}

.list-inner-wrapper:hover {
  transform: scale(1.09);
  z-index: 99999;
  /* height: 60px; */
  transition: 0.6s;
}

.list-inner-wrapper:hover .padlock {
  animation: padlock-initiate 0.8s forwards;
}

.list-inner-wrapper:hover .list-title {
  filter: blur(40px);
  word-break: break-all;
  text-overflow: revert;
  white-space: revert;

}

.list-inner-wrapper:hover .padlock {
  display: grid;
  text-align: center;
  align-content: center;
  gap: var(--gap-medium);
  justify-items: center;
  align-items: stretch;
  gap: var(--gap-medium);
}

.list-inner-wrapper .padlock:hover svg {
  transition: 0.4s;
  transform: scale(0.6) translateY(-24px);
}

.list-inner-wrapper .padlock:hover p {
  transition: 0.8s;
  opacity: 1;
  transform: translateY(30px) scale(1.07);
}

.padlock {
  opacity: 0.7;
  background: transparent;
  padding: var(--spacing-medium-small);
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  cursor: pointer;
  transition: 0.4s;
}

.padlock svg {
  grid-area: 1 / 1;
  width: 60px;
  height: 60px;
  transition: 0.4s;
  fill: var(--fourth-text);
}

.padlock p {
  opacity: 0;
  grid-area: 1 / 1;
  color: var(--fourth-text);
  margin-top: var(--spacing-extra-small);
  transition: 0.8s;
  white-space: nowrap;
  font-weight: 400;
}

dialog {
  margin: auto;
  border: none;
  width: 70%;
  max-width: 400px;
  padding: 2.2rem 1.7rem;
  background: none;
}

/* dialog[open] {
  animation: form-open 0.5s forwards;
  -webkit-animation: form-open 0.5s forwards;
} */

/* Style like this to make transform work and not screw up the close and feedback button! */
dialog[open] #form-container {
  animation: form-open 0.5s forwards;
  -webkit-animation: form-open 0.5s forwards;
}

dialog[open] #confirm-container {
  animation: confirm-open 0.5s forwards;
  -webkit-animation: confirm-open 0.5s forwards;
}

dialog[open] .dialog-list-inner-wrapper {
  animation: card-open 0.5s forwards;
  -webkit-animation: card-open 0.5s forwards;
}



dialog p,
dialog small {
  color: var(--third-text)
}

dialog::backdrop {
  transition: 0.4s;
  /* background-color: #1b1b1d; */
  /* opacity: 0.98; */
  background: #1d1f21;
}

dialog label {
  display: none;
  margin: 0 0 0.4rem;
}

.dialog-intro {
  font-weight: 500;
}

#form-button-container,
.key-button-container,
.inputs-wrapper {
  /* margin: var(--spacing-medium) 0 0 0; */
  margin: 1.1rem 0 0 0;
}

#confirm-button-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: stretch;
  gap: var(--gap-medium);
}

#confirm-yes-button,
#confirm-no-button {
  width: 100%;
  padding: var(--spacing-extra-extra-small) var(--spacing-extra-small);
}

input,
textarea {
  color: var(--fourth-text);
  background: none;
  width: 100%;
  padding: var(--spacing-extra-extra-small) 0rem;
  font-weight: 400;
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: var(--fourth-text);
  transition: 0.2s;
}

input::placeholder,
textarea::placeholder {
  color: var(--fourth-text);
  transition: 0.2s;
}

input:focus,
textarea:focus,
input:hover,
textarea:hover {
  transition: 0.2s;
  border-color: var(--third-text);
  color: var(--third-text);
  /* outline: none; */
}

input:focus::placeholder,
textarea:focus::placeholder,
input:hover::placeholder,
textarea:hover::placeholder {
  transition: 0.2s;
  border-color: var(--third-text);
  color: var(--third-text);
}

#validate-key-button,
#submit-button,
#create-key-button {
  width: 100%;
  padding: var(--spacing-extra-extra-small) var(--spacing-extra-small);
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

textarea {
  height: auto;
  resize: none;
}

.list-additional-data {
  white-space: pre-wrap;
}

@media only screen and (max-width: 800px) {
  #list-data-container {
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
  }
}

@media only screen and (max-width: 600px) {
  dialog {
    width: 100%;
  }

  #list-data-container {
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
  }
}


@media only screen and (max-width: 430px) {
  dialog {
    max-width: revert;
  }
}

@media only screen and (max-width: 260px) {
  #post-form-button {
    width: 190px;
  }

  body {
    width: 260px;
  }

  #validate-key-container,
  #create-key-container,
  #form-container,
  #confirm-container {
    width: 155px;
  }

  #post-form-button {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

@keyframes form-open {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

@keyframes confirm-open {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes padlock-initiate {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0.7;

  }

  100% {
    transform: translate(-50%, -50%) scale(0.75);
  }
}

@keyframes card-open {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    /* -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; */
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    /* -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; */
  }
}