:root {
  --main-color: #272227;
  /* --main-color: #322f32; */
  --second-color: #3f3e3e;
  --third-color: #0E0E0E;
  --main-text-color: #EDE6DD;
  --second-text-color: #1b1818;
  --third-text-color: #aeb5a8;
  --main-shadow-color: #0a0909;
  --danger-color: #ba1c15;
  /* --success-color: #36743B; */
  --success-color: #2c512f;
  --button-color: #cdccd8;
  --button-hover-color: #a8a8b0;
  --button-close-hover-color: #991610;



  --padding-extra-extra-small: 0.3rem;
  --padding-extra-small: 0.5rem;
  --padding-small: 0.8rem;
  --padding-medium-small: 1rem;
  --padding-medium: 1.5rem;
  --padding-large: 2rem;
  --padding-extra-large: 3rem;


  --font-size-extra-small: 0.5rem;
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.5rem;
  --font-size-extra-large: 2rem;

  --gap-extra-small: 0.2rem;
  --gap-small: 0.3rem;
  --gap-medium: 0.5rem;
  --gap-large: 1rem;
}

* {
  color: var(--main-text-color);
  padding: 0;
  margin: 0;
  font-size: var(--font-size-medium);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.2px;
  line-height: 1.4;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

h1 {
  font-size: var(--font-size-extra-large);
  margin: 0 0 var(--padding-medium-small) 0;
}

h3 {
  font-weight: 900;
  letter-spacing: 0.8px;
  font-size: var(--font-size-large);
}

p {
  margin: 0 0 var(--padding-extra-small) 0;

}

li {
  margin: 0 0 var(--padding-small) 0;
}

header {
  background-color: var(--third-color);
  padding: var(--padding-medium-small) var(--padding-medium);
  -webkit-box-shadow: 1px 1px 10px -1px rgba(10, 9, 9, 0.42);
  box-shadow: 1px 1px 10px -1px rgba(10, 9, 9, 0.42);
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: var(--padding-extra-large) var(--padding-large);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--third-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: var(--second-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

#close-form-button {
  padding: var(--padding-extra-extra-small);
}

.error-container {
  color: var(--second-text-color);
  background-color: var(--danger-color);
}

.feedback-container {
  position: fixed;
  top: 2rem;
  border: none;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(125, 122, 122, 0.25);
  width: 70%;
  /* TODO fix problem, element and margin ends up outside viewport, only this element */
  max-width: 400px;
  padding: var(--padding-medium) var(--padding-large);
  border-radius: 10px;
}

.feedback-container p {
  margin: 0;
}

.success-container {
  color: var(--second-text-color);
  background-color: var(--success-color);
}

.hideFeedback {
  opacity: 0;
  transition: opacity 1s linear;
  left: -300px;
}

.showFeedback {
  opacity: 0.95;
  transition: opacity 0.5s linear;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999999;
}

.svg-add-button,
.svg-item-button,
.svg-close-button {
  color: var(--second-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-extra-small);
}

.svg-add-button svg {
  width: 20px;
  height: 20px;
}

#svg-close-button {
  background-color: var(--button-color);
}

/* https://evanminto.com/blog/intrinsically-responsive-css-grid-minmax-min/ */

/* Here all buttons */
/* button:hover , #validate-key-button:hover,
#submit-button:hover,
#create-key-button:hover,
#feedback-close-button:hover,
#close-form-button:hover,
#delete-item-button:hover {
background-color: green;
} */

.delete-item-button:hover,
#close-form-button:hover {
  transform: scale(1.05);
  background-color: var(--button-close-hover-color);
}

.delete-item-button,
#close-form-button {
  background-color: var(--danger-color);
}

button:hover {
  transform: scale(1.05);
  background-color: var(--button-hover-color);
}

button:active,
#close-form-button:active {
  transition: 0.2s;
  background-color: var(--button-color);
}


button {
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--second-text-color);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 10px -1px rgba(10, 9, 9, 0.42);
  box-shadow: 1px 1px 10px -1px rgba(10, 9, 9, 0.42);
  transition: 0.3s;
}

.svg-add-button small {
  font-weight: 700;
  font-size: var(--font-size-extra-small);
  display: inline-block;
  color: var(--second-text-color)
}


small {
  font-size: var(--font-size-small);
  display: inline-block;
}

#create-key-warning {
  color: var(--danger-color);
  font-size: var(--font-size-medium);
}

.svg-close-button svg {
  width: 15px;
  height: 15px;
}

.svg-item-button svg {
  width: 15px;
  height: 15px;
}

.svg-item-button small {
  font-size: 0.5rem;
  color: var(--second-text-color)
}

.reset-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-website {
  font-size: var(--font-size-large);
}

.item-button-container {
  top: 0;
  right: 0;
  gap: var(--gap-medium);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: var(--padding-medium);
}

/* .show-password-li {
  display: flex;
  flex-direction: row;

}

.show-password-li b {
  display: flex;
  flex-direction: row;
  padding-right: 0.4rem;
} */

.item-button-container button {
  width: 60px;
  height: 35px;
}

summary {
  cursor: pointer;
}

/* TODO Find the cheat code for min-max grid */
#list-data-container {
  display: grid;
  gap: var(--gap-large);
  grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
}

.list-data-item p {
  color: var(--third-text-color);
  word-break: break-all;
}

.list-data-item summary {
  color: var(--third-text-color);
}

.template-list-component {
  background-color: var(--main-color);
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  padding: var(--padding-medium-small) var(--padding-medium);


  /* box-shadow: 3px 3px 10px var(--main-shadow-color);
  border-bottom: 1px rgb(70, 70, 70) solid ;
  border-right: 1px rgb(70, 70, 70) solid ; */

  /* box-shadow: 5px 5px 50px var(--main-shadow-color); */

  /* -webkit-box-shadow: 3px 2px 9px 1px rgba(10,9,9,0.41); 
box-shadow: 3px 2px 9px 1px rgba(10,9,9,0.41); */
  /* https://html-css-js.com/css/generator/box-shadow/ */
  -webkit-box-shadow: 5px 5px 20px 2px rgba(10, 9, 9, 0.25);
  box-shadow: 5px 5px 20px 2px rgba(10, 9, 9, 0.25);
  transition: 0.4s;
}

.template-list-component:hover {
  transform: scale(1.1);
}

#post-form-button {
  z-index: 999999;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: var(--padding-extra-extra-small) var(--padding-medium-small);
}

/* #validate-key-dialog, #feedback-container, #create-key-dialog, #confirm-dialog, #form-dialog {
padding: var(--padding-medium) var(--padding-large);
 background-color: var(--second-color);
} */

dialog {
  margin: auto;
  border: none;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(125, 122, 122, 0.25);
  width: 70%;
  /* TODO fix problem, element and margin ends up outside viewport, only this element */
  max-width: 400px;
  padding: var(--padding-medium) var(--padding-large);
  background-color: var(--main-color);
  border-radius: 10px;
}

dialog::backdrop {
  transition: 0.8s;
  background-color: #272227;
  opacity: 0.85;
}

dialog label {
  display: inline-block;
  margin: 0 0 var(--padding-extra-small);
}

#form-button-container,
.key-button-container {
  margin: var(--padding-medium) 0 0 0;
}

.inputs-wrapper {
  margin: var(--padding-medium) 0 0 0;
}

#feedback-message {
  padding-right: 3rem;
}

#confirm-button-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  margin: var(--padding-medium) 0 0 0;
}

#confirm-yes-button,
#confirm-no-button {
  width: 100%;
  padding: var(--padding-extra-extra-small) var(--padding-extra-small);
}

#form-container {
  position: relative;
}

#close-form-button {
  position: absolute;
  right: -1rem;
  top: -1rem;
}

input,
textarea,
#validate-key-button,
#submit-button,
#create-key-button {
  width: 100%;
  padding: var(--padding-extra-extra-small) var(--padding-extra-small);
  border: none;
  -webkit-box-shadow: 1px 1px 10px -1px rgba(10, 9, 9, 0.42);
  box-shadow: 1px 1px 10px -1px rgba(10, 9, 9, 0.42);
  border-radius: 5px;
}

input,
textarea {
  color: var(--second-text-color);
  background-color: var(--main-text-color);
}

textarea {
  height: auto;
  resize: none;
}

.list-additional-data {
  white-space: pre-wrap;
}

@media only screen and (max-width: 600px) {
  #list-data-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
  }

  dialog {
    width: 100%;
  }
}

@media only screen and (max-width: 430px) {
  dialog {
    max-width: revert;
  }
}

@media only screen and (max-width: 330px) {
  body {
    width: 300px;
  }

}